spring:
  application:
    name: catalog-service

  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: ${DB_URL:jdbc:postgresql://localhost:15432/postgres}

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"

catalog:
  page-size: ${PAGE_SIZE:10}
