version: "3.8"
name: 'spring-boot-microservices-course'
services:
  catalog-db:
    image: postgres:18-alpine
    container_name: catalog-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "15432:5432"

    healthcheck:
      test: [ "CMD-SHELL", "pg-isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 3

    deploy:
      resources:
        limits:
          memory: 500m
